@font-face{
  font-family: Inter;
  src: url(Inter-Regular.ttf);
}

body{
  background-color: #262626;
  margin: 5px;
}

p{
  color: #FFFFFF;
  font-family: 'Inter';
}

h1{
  color: #FFFFFF;
  font-family: 'Inter';
}

h4{
  color: #FFFFFF;
  font-family: 'Inter';
}

a{
  color: #40b9ff;
  font-family: 'Inter';
}

h2{
  color: #FFFFFF;
  font-family: 'Inter';
}

h3{
  color: #FFFFFF;
  font-family: 'Inter';
}
